#slideshow img {
  display: none;
}
#slideshow img:first-child {
  display: block;
}
#slideshow img {
  display: none;
  transition: all 0.5s;
}
#slideshow img {
  display: none;
  animation: slideshow 20s infinite;
}

@keyframes slideshow {
  0% {
    display: block;
  }
  100% {
    display: none;
  }

}
/* Slayder */
.carousel img {
  width: 500px;
  height: 200px;
  object-fit: cover;
}
.reseña {
  opacity: 0;
  transition: opacity 0.5s;
}
#galeria {
  display: flex;
  flex-wrap: wrap;
}

#galeria img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin: 09px;
}
#historia {
  width: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

#historia h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 0.5em;
}

#historia h2 {
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

 body {
  background-color: black;
 }
 .custom-size {
  width: 300px;
  height: 400px;
  background-size: cover;
}
/* Estilos para el contenedor principal */
main {
  width: 80%;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
  }
  
  /* Estilos para el encabezado */
  header h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  }
  
  /* Estilos para la navegación */
  nav {
  width: 100%;
  background-color: #333;
  color: white;
  }
  nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  }
  nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  display: block;
  padding: 20px;
  }
  nav a:hover {
  background-color: #444;
  }
  
  /* Estilos para las secciones */
  section {
  margin-bottom: 20px;
  }
  section h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  }
.navbar-brand {
  animation: fade-in 5s linear infinite alternate;

}
@keyframes fade-in {
  0%   {background-color: blue;}
  30%  {background-color: white;}
  60%  {background-color: green;}
  100% {background-color: red;}
}


  #introduccion {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    }
    
    #biografia {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    }
    #carrera {
      background-color: rgba(255, 255, 255, 0.7);
      padding: 20px;
      }
      #impacto {
        background-color: rgba(255, 255, 255, 0.7);
        padding: 20px;
     }
      
    
    
    .social-icons a {
      display: inline-block; /* muestra los iconos en línea */
      margin: 0 10px; /* agrega margen a la derecha de cada icono */
    }
    
    .social-icons i {
      font-size: 1.5em; /* aumenta el tamaño del icono */
      color: white; /* cambia el color del icono a tu elección */
    }
   
   
    